ul.city {
    list-style-position: inside;
    list-style-image: url("https://www.shutterstock.com/image-vector/cargo-ship-logo-design-template-260nw-1675712920.jpg");
    /* height: 10px;
    width: 10px; */

}